# Django local settings for digitizedbooks project.
import os
BASE_DIR = os.path.dirname(os.path.abspath(__file__))

DEBUG = True
TEMPLATE_DEBUG = DEBUG
DEV_ENV = True

# IP addresses that should be allowed to see DEBUG info
INTERNAL_IPS = ('127.0.0.1', '127.0.1.1',)

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': { # the primary db for OE content
        'ENGINE': 'django.db.backends.', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
        'TEST_CHARSET': 'utf8',          # Use UTF8 when creating the test database
    },
    'esd': { # OE's Emory Shared Data view, or a suitable mockup
        'ENGINE': 'django.db.backends.', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
        #'TEST_NAME': '' # set to override unit test db name (e.g., for shared esd fixture db)
    },
}

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/home/media/media.lawrence.com/media/"
MEDIA_ROOT = os.path.join(BASE_DIR, '..', 'media')

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# On Unix systems, a value of None will cause Django to use the same
# timezone as the operating system.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'America/New_York'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://media.lawrence.com/media/", "http://example.com/media/"
MEDIA_URL = ''

# Make this unique, and don't share it with anybody.
SECRET_KEY = ''

# LDAP configuration
AUTH_LDAP_SERVER = '' # e.g. 'ldaps://vlad.service.emory.edu'
AUTH_LDAP_BASE_USER = '' # e.g. 'uid=USERNAME,ou=services,o=emory.edu'
AUTH_LDAP_BASE_PASS = '' # password for USERNAME above
AUTH_LDAP_SEARCH_SUFFIX = '' # e.g. 'o=emory.edu'
AUTH_LDAP_SEARCH_FILTER = '' # e.g. '(uid=%s)'
AUTH_LDAP_CHECK_SERVER_CERT = False # ALWAYS SET True in production.
AUTH_LDAP_CA_CERT_PATH = '' # absolute path of cert

CACHE_BACKEND = 'file:///tmp/oe_cache'

# configuration PDF generation and XSL-FO/PDF temporary files
XSLFO_PROCESSOR = '/usr/bin/fop'
XSLFO_TEMP_DIR = '/tmp/oe_cache/fop'


# for Developers only: to use sessions in runserver, uncomment this line (override configuration in settings.py)
#SESSION_COOKIE_SECURE = False

#Iternet Archive API keys
IA_S3_ACCESS_KEY = ''
IA_S3_SECRET_KEY = ''
IA_S3_NAMESPACE_SUFFIX = '' # e.g. library.emory.edu

# SHERPA/RoMEO API key. http://www.sherpa.ac.uk/romeo/apiregistry.php
#ROMEO_API_KEY = 'CHANGEME'

# enable Google Analytics  (should generally only be enabled in production)
GOOGLE_ANALYTICS_ENABLED = True
# site verification code to link site with Google Webmaster Tools
#GOOGLE_SITE_VERIFICATION = ''

# reCAPTCHA keys for your server or domain from https://www.google.com/recaptcha/
RECAPTCHA_PUBLIC_KEY = ''
RECAPTCHA_PRIVATE_KEY = ''
RECAPTCHA_OPTIONS = {}


KDIP_DIR = '/path/to/kdips'


# A sample logging configuration. The only tangible logging
# performed by this configuration is to send an email to
# the site admins on every HTTP 500 error.
# See http://docs.djangoproject.com/en/dev/topics/logging for
# more details on how to customize your logging configuration.
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'basic': {
            'format': '[%(asctime)s] %(levelname)s:%(name)s::%(message)s',
            'datefmt': '%d/%b/%Y %H:%M:%S',
         },
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'class': 'django.utils.log.AdminEmailHandler'
        },
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'basic'
        },
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
        'digitizedbooks': {
            'handlers': ['console'],
            'level': 'DEBUG',
            'propagate': True,
        },
    }
}
