{% extends "admin/base.html" %}
{% load i18n %}

{% comment %}
The block below was added to bump the breadcrumbs down a bit.
{% endcomment %}
{% block extrastyle %}
     <style type="text/css">
       .breadcrumb { margin-top: 20px; }
     </style>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Digitized Books Admin' %}{% endblock %}

{% block branding %}
{% comment %}The inline stye was added to change the color of the title{% endcomment %}
<h1 id="site-name" style="color:white;">{% trans 'Digitized Books Admin - Emory University' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
